/* Resetear los márgenes y rellenos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background-attachment: fixed;
    overflow-y: hidden;
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* BARRA DE NAVEGACIÓN */
.navbar {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.navbar-links {
    margin-right: 5%; 
    font-family: 'Cinzel', serif; 
    margin-top: 1.8vw;
    display: flex;
}

.navbar-links a {
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 2vw;
    margin-top: 0.7vw;
    font-size: 1.5vwpx;
}

.navbar-links button {
    border: none;
    background: none;
    margin-top: 0; 
    margin-bottom: 0; 
}

.navbar-links button img {
    max-height: 3vh; 
}

.navbar-links a:hover {
    color: #999; 
}

.navbar-links button:hover img {
    filter: brightness(70%); 
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* MENÚ DESPLEGABLE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 2.083vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: calc(100% + 2px);
    left: 0; 
}

.dropdown-content a {
    color: black;
    padding: 2% 4%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; 
}


.dropbtn:focus + .dropdown-content,
.dropdown-content:focus-within {
    display: block; 
}

.dropbtn {
    width: 2.083vw;
    height: 2.083vw; 
    padding: 0;
    background: none;
    border: none; 
    cursor: pointer;
}

.logo {
    color: #E0E0E0;
    font-size: 1.5vw;
    margin-left: 2.5vw;
    font-family: 'Cinzel', serif;
}

.contenido {
    position: relative;
    z-index: 1; 
}

.contenido img {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/machu.jpg");

}

/* BARRA INFERIOR - PIE DE PÁGINA */
.footer {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a:hover {
    color: #999;
}

.footer-links a {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12px;
}

.copyright {
    font-size: 12px;
}

.help-section {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.help-header h1 {
    font-size: 30px;
    color: #E74C3C;
}

.help-banner img {
    width: 10%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.customer-service {
    padding: 40px 20px;
    text-align: center;
}

.customer-service h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.service-options {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.service-option {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.service-option img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.service-option p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.experience-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.experience-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.experience-section p {
    margin-bottom: 20px;
    font-size: 1em;
    color: #555;
}

.experience-section a {
    color: #E74C3C;
    text-decoration: none;
}

.experience-section a:hover {
    text-decoration: underline;
}

.experience-image img {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: cover;
    border-radius: 8px;
}
.help-section,
.customer-service,
.experience-section {
    position: absolute;
    width: 100%; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 2; 
    text-align: center; 
}


.help-section {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 20px 0;
    text-align: center;
    box-shadow: none; 
    position: absolute;
    width: 100%; 
    top: 20%; 
    transform: translateY(-50%); 
    z-index: 2; 
    text-align: center; 
}


.customer-service {
    border: none;
    top: 50%; 
}

.experience-section {
    background-color: rgba(255, 255, 255, 0);
    top: 80%;
    color: #fff;
}

.experience-section p{
    color: #fff;
}

.help-banner{
    margin-top: 60px;
}

.customer-service h2 {
    color: #fff;
}
