/* Resetear los márgenes y rellenos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background-attachment: fixed;
    overflow-y: hidden;
    background-color: #f2f2f2;
}

/* BARRA DE NAVEGACIÓN */
.navbar {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-links {
    margin-right: 5%;
    font-family: 'Cinzel', serif;
    margin-top: 1.8vw;
    display: flex;
}

.navbar-links a {
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 2vw;
    margin-top: 0.7vw;
    font-size: 1.5vwpx;
}

.navbar-links button {
    border: none;
    background: none;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-links button img {
    max-height: 3vh;
}

.navbar-links a:hover {
    color: #999;
}

.navbar-links button:hover img {
    filter: brightness(70%);
}

/* MENÚ DESPLEGABLE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 2.083vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: calc(100% + 2px);
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 2% 4%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropbtn:focus + .dropdown-content,
.dropdown-content:focus-within {
    display: block;
}

.dropbtn {
    width: 2.083vw;
    height: 2.083vw;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.logo {
    color: #E0E0E0;
    font-size: 1.5vw;
    margin-left: 2.5vw;
    font-family: 'Cinzel', serif;
}

.contenido {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
}
.contenido img {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/machu.jpg");
}

/* BARRA INFERIOR - PIE DE PÁGINA */
.footer {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a:hover {
    color: #999;
}

.footer-links a {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12px;
}

.copyright {
    font-size: 12px;
}

/* Estilos adicionales */
.main-container {
    padding: 20px;
    overflow-y: auto;
    max-height: 80vh;
    padding-top: 100px; /* Añadir espacio superior para compensar la barra de navegación */
    top: calc(100vh - 60vh); /* Ajusta la posición del formulario */

}

.form-container {
    position: absolute;
    top: 100px; /* Asegura que el formulario esté debajo de la barra de navegación */
    left: 0;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: calc(100vh - 200px); /* Ajusta la altura para que el formulario no se superponga con el footer */
    overflow-y: auto; /* Agrega un scroll vertical si el contenido es demasiado largo */
    padding: 20px; /* Añade un relleno alrededor del formulario */
}


.form-row {
    margin-bottom: 15px;
}

.form-row label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-row input, .form-row select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: white;
}

.text {
    font-size: 1vw;
    color: #E0E0E0;
    font-family: 'Cinzel', serif;
}

.selection select {
    width: 100%;
    padding: 0.5vw;
    font-size: 1vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    cursor: pointer;
}

.selection {
    display: flex;
    align-items: center;
}

.selection .text {
    margin-right: 10px;
}

.label-bold {
    font-weight: bold;
}

.form-fields {
    column-count: 2;
    column-gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.form-fields input[type="text"],
.form-fields select {
    margin-bottom: 1vw;
    padding: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 1vw;
}
