/* Resetear los márgenes y rellenos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background-attachment: fixed;
    /* overflow-y: hidden; */ /* Eliminado para permitir el desplazamiento vertical */
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* BARRA DE NAVEGACIÓN */
.navbar {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-links {
    margin-right: 5%; 
    font-family: 'Cinzel', serif;
    margin-top: 1.8vw;
    display: flex;
}

.navbar-links a {
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 2vw;
    margin-top: 0.7vw;
    font-size: 1.5vwpx;
}

.navbar-links button {
    border: none;
    background: none;
    margin-top: 0; 
    margin-bottom: 0;
}

.navbar-links button img {
    max-height: 3vh; 
}

.navbar-links a:hover {
    color: #999;
}

.navbar-links button:hover img {
    filter: brightness(70%); 
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* MENÚ DESPLEGABLE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 2.083vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: calc(100% + 2px); 
    left: 0; 
}

.dropdown-content a {
    color: black;
    padding: 2% 4%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; 
}

.dropbtn:focus + .dropdown-content,
.dropdown-content:focus-within {
    display: block; 
}

.dropbtn {
    width: 2.083vw; 
    height: 2.083vw; 
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.logo {
    color: #E0E0E0;
    font-size: 1.5vw;
    margin-left: 2.5vw;
    font-family: 'Cinzel', serif;
}

.contenido {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px); 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/machu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; 
}


/* BARRA INFERIOR - PIE DE PÁGINA */
.footer {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a:hover {
    color: #999;
}

.footer-links a {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12px;
}

.copyright {
    font-size: 12px;
}

/* Extra */
.contenedor_divs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.conten_grf {
    width: 15%;
    height: 25%; 
    background-color: #98e4b1;
    margin: 1%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: 1s;
    position: relative;
    z-index: 1; 
    left: auto;
    transform: none;
}

.conten_grf span {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: bold; 
    z-index: 3; 
}

.titulo {
    text-align: center;
    font-size: 30px;
    color: rgb(50, 140, 223);
}

.conten_grf:hover {
    transform: scale(1.2);
    z-index: 3000;
}

span {
    position: absolute;
    top: 8px;
    left: 40px;
}

@media (max-width: 1200px) {
    .conten_grf {
        width: 18%;
        height: 25%;
    }
}

@media (max-width: 768px) {
    .contenedor_divs {
        flex-wrap: wrap; 
        flex-direction: row; 
        justify-content: space-around; 
    }

    .conten_grf {
        width: 30%; 
        height: 40%;
        margin: 5px; 
    }
}
